<div class="body-app">
    <div class="oun-mainBord " [ngClass]="{'green': totalBudget>=0, 'red': totalBudget<0}">
      <div class="oun-mainBord-name"><h3 style="font-size: 20px;">У вас на счету:</h3></div>
      <div class="oun-mainBord-totalBudget"><h2 style="font-size: 23px;">{{totalBudget|currency:'RUB':'symbol-narrow'}}</h2></div>
    </div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Таблица"> <app-current-period></app-current-period> </mat-tab>
    <mat-tab label="Подробная аналитика"> <app-full-analitik></app-full-analitik> </mat-tab>
  </mat-tab-group>
  </div>
