<ol class="privacyContainer">
    <h1>Политика конфиденциальности</h1>
    <li> <h2>Общие положения  </h2></li>
        <p> Приложение ТВОЙ БЮДЖЕТ (далее – «Приложение») - это инструмент для введения журнала доходов и расходов, 
            а также их анализа.</p>
        <p>  Настоящая Политика конфиденциальности (далее – «Политика») регулирует отношения между администрацией 
            Приложения (далее – «Администрация») и Вами (физическим лицом пользователем сети Интернет), далее  
            «Пользователь», по поводу обработки информации Пользователя.</p>
    <li> <h2>Описание информации </h2></li>
        <p>Информация Пользователя включает в себя:</p>
        <ol   ol>
            <li>Учетные данные Пользователя, вводимые при регистрации.</li>
            <li>Записи, созданные самим Пользователем, описывающие доходы и расходы Пользователя, формирующие его 
                так называемый "бюджет".</li>
        </ol>
        <p>Все записи доходов и расходов не могут считаться (и не обязаны быть) достоверными, не имеют документального 
            подтверждения, и не должны использоваться как официальный источник информации. </p>
    <li><h2>Использование информации</h2></li>
        <p>Администрация осуществляет сбор, обработку и хранение информации Пользователя (в том числе и персональных данных) 
            для корректной работы Приложения. Так Email адрес используется как уникальный login при аутентификации. Также 
            Email адрес может использоваться для восстановления пароля.</p>
        <p>Вся информация, вводимая Пользователем, хранится в базе данных и обрабатывается автоматически при рендеринге 
            страницы.</p>
    <li><h2>Передача информации</h2></li>
        <p>Все данные и записи Пользователя являются конфиденциальными, не используются Администрацией в личных целях
             и не передаются третьим сторонам, за исключением случаев, когда передачу соответствующим органам требует 
             Законодательство Российской Федерации</p>
    <li><h2>Защита информации</h2></li>
        <p> Администрация принимает технические и организационно-правовые меры в целях обеспечения защиты информации о 
            Пользователях от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, 
            распространения, а также от иных неправомерных действий.</p>
    <li><h2>Права и ответственность сторон</h2></li>
        <p>Администрация обязуется соблюдать правила настоящей Политики, и за нарушение данной несет ответственность по 
            действующему законодательству Российской Федерации.</p>
        <p>Администрация не несет ответственности за разглашение информации о Пользователе, если передачу соответствующим 
            органам требует законодательство Российской Федерации.</p>
        <p>Администрация не несет ответственности за разглашение, распространение, удаление или изменения информации о Пользователе, если у
             Пользователя каким-либо способом были украдены login c паролем, или ключи сессии.</p>
        <p>Пользователь обязан согласиться с настоящей Политикой при регистрации, поставив галочку в соответствующем поле 
            формы.</p>
        <p>Пользователь может удалить свой аккаунт, информация о Пользователе хранится согласно пункту 7 данной Политики.</p>
    <li><h2>Хранения информации</h2></li>
    <p>Информация о Пользователе хранится Администрацией бессрочно до тех пор, пока Пользователь не удалит свой аккаунт,
         или Приложение не перестанет  существовать, а после этого – в течение срока, необходимого и установленного 
         действующим законодательством Российской Федерации.</p>
    <p> Администрация не обязана передавать записи Пользователю при их потере Пользователем</p>
    <p> Администрация не несет ответственность за потерю информации по техническим причинам или ошибкам, если эти технические 
        ошибки или причины вызваны не по вине Администрации.</p>
    <li><h2>Изменения и дополнения настоящей Политики</h2></li>
    <p>Настоящая Политика может быть изменена Администрацией с уведомлением Пользователя посредством 
        размещения новой редакции изменяемой политики на сайте (Приложении). Изменения в Политике, внесенные Администрацией, 
        вступают в силу с момента размещения на сайте (Приложении) новой редакции такой Политики.</p>
    <p>Вопросы, не урегулированные настоящей Политикой, подлежат разрешению в соответствии с законодательством Российской
         Федерации.</p>
    <br> <br>
    <i>Редакция от 26.01.2021</i>
</ol>
<div style="height: 100px;"></div>
