
// -----------------hights
$topHight: 60px;
$mainBordHight: 115px;

//-----------------colors

$titleBackground:lighten(#9D9BF0, 05%);
// green class
$greenBackground: rgba(#CDFC6A, 0.3);
$greenBackgroundItem:rgba(#CDFC6A, 0.2);
$greenText: black;
// red class
$redBackground:red;
$redBackgroundItem:rgba(#FF7D73,0.4);
$redText: black;




// --------------mixins
@mixin none-user-select(){
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


// ------------------styles for root component

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.oun-mainBord{
    display: flex;
    flex-direction: column;
    height: $mainBordHight;
    justify-content: center;
    

    
    .oun-mainBord-name{

        text-align: center;
        @include none-user-select();
 
    }
    .oun-mainBord-totalBudget{
        margin-top: 18px;
        text-align: center;
    }
}     

.green{
    background: $greenBackground;
}

.body-app{
    width: 100%;
    margin: auto;
    
}
